@import url('../libs/CircularContentCarousel/css/style.css');
@import url('../libs/CircularContentCarousel/css/demo.css');
@import url('navbar.css');

html,body {
  height: 100%;
}

body {
	overflow-y: scroll;
}

textarea {
	width: 100%;
	height: 8em;
	margin-bottom: 5px !important;
}

.span12 {
	position: relative;
}

.content {
	padding: 5px;
}

.error{color: red;}

.pointer {cursor: pointer;}
.inline-block {display: inline-block;}
.center {text-align: center;}
/* margin */
.mt20 {margin-top: 20px;}

/* padding */
.pd2 {padding: 2px;}

/* widths */
.w10 {width: 10%;}
.w15 {width: 15%;}
.w20 {width: 20%;}

/* images */
.kemika-thumb {
	max-height: 100px;
	max-width: 100px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#contact {
  font-siz: 14px;
}

#tables {
  background-color:#EEEFEF;
  position:absolute;
  left:40%;
}

#push, #footer {
  height: 60px;
}

#footer {
  background-color: grey;
  width:100%;
  position:absolute;
  bottom:0;
}

ul.nobullets {
  list-style-type: none;
}

.preview-products {
	list-style-type: decimal;
}
.preview-products li {
	margin-left: 40px;
}

.translucent-bg, .translucent-bg-white {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%;
  z-index: -9000;
  opacity: 0.2;
}

.translucent-bg-white {
	background-color: white;
}
