@import url('../libs/CircularContentCarousel/css/style.css');
@import url('../libs/CircularContentCarousel/css/demo.css');
@import url('navbar.css');

html,body {
  height: 100%;
}

.pointer {cursor: pointer;}
.inline-block {display: inline-block;}

/* margin */
.mt20 {margin-top: 20px;}

/* padding */
.pd2 {padding: 2px;}



/* images */
.kemika-thumb {
	max-height: 100px;
	max-width: 100px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

#contact {
  font-siz: 14px;
}

#tables {
  background-color:#EEEFEF;
  position:absolute;
  left:40%;
}

#push, #footer {
  height: 60px;
}

#footer {
  background-color: grey;
  width:100%;
  position:absolute;
  bottom:0;
}

ul.nobullets {
  list-style-type: none;
}
